.Sidedrawer {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 200;
    width: 65%;
    min-width: 250px;
    height: 100vh;
    transition: left 0.18s linear;
}

.Show {
    left: 0;
}

.Hide {
    left: -100%;
}

.NavList {
    list-style-type: none;
    padding: 16px;
    margin: 0;
}

.NavList a {
    display: flex;
    align-items: center;
}

.NavList a:hover {
    color: rgb(41, 41, 233);
}

.NavList p {
    margin: 8px 0px 8px 8px;
}