.ForgotPasswordPage {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.Paragraph {
    max-width: 320px;
    line-height: 1.5;
    margin: 16px 0 0 0;
    text-align: center;
}

.ForgotPasswordPage img {
    width: 40px;
}

.VerificationHdr {
    text-align: center;
}