.ModalMini {
    position: absolute;
    top: -4px;
    width: 180px;
    box-shadow: 1px 4px 7px gray;
    z-index: 1000;
    background-color: white;
    padding: 4px;
    transition: all 0.2s linear;
    border-radius: 3px;
}

.Show {
    display: block;
}

.Hide {
    display: none;
}