.ReportIssuesPage {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.PageHeader {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0;
}

.WarningIcon {
    margin: 0 6px 0 0;
}

.InputContainer {
    margin: 8px 0 8px 0;
    display: flex;
    flex-flow: column;
}

.InputContainer textarea {
    font-family: inherit;
}