.SettingsPage {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.SettingsPage h2 {
    display: flex;
    align-items: center;
}

.DetailContainer {
    display: flex;
    align-items: center;
}

.BuildIcon {
    cursor: pointer;
    transition: all 0.2s linear;
}

.BuildIcon:hover {
    transform: scale(1.1);
    color: #13aa52;
}