.HomePage {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.HomePage button {
  outline: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  font-family: inherit;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 3px;
}

.PresentationBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  min-height: 50vh;
}

.PresentationBox button {
  color: #1d703f;
  background-color: inherit;
  border: 1px solid #1d703f;
}

.PresentationBox h4 {
  margin: 16px 0;
}

.BigGreenBox {
  margin: 32px 0 0 0;
  background-color: #13aa52;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100vw;
  height: 300px;
}

.BigGreenBox h2 {
  color: white;
  font-size: 30px;
}

.BigGreenBox .buttonContainer {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 500px;
  justify-content: space-evenly;
}

.BigGreenBox button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  margin: 16px;
  width: 200px;
}

.HomePage button:hover {
  /* font-size: 18px; */
  transform: scale3d(1.03, 1.03, 1.03);
}