.AddLesson {
    width: 200px;
}

.AddContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
    cursor: pointer;
}

.AddContainer:hover {
    color: #3e7cce;
}

.AddContainer p {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 16px;
}